




<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 +( i * 70)}"
    [name]="player" [playerActive]=" i == game.currentplayer" class="player-position"></app-player>


<div class="gameField">
   

    <div class="card-Stack">
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}" 
            src="assets/img/card_cover.png" alt="">
        <img (click)="takeCard()" class="top-card" style="right: 25px" 
            src="assets/img/card_cover.png" alt="">

        <img *ngFor="let card of game.playedCards" src="assets/img/{{ card }}.png" class="played-card">

        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-Card" 
            style="right: 25px" src="assets/img/{{ currentCard }}.png" alt="">
    </div>
</div>

<app-game-info [card]="currentCard" class="pin-bottom" ></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
  </button>


